@import '@fontsource/boldonse/400';
@import '@fontsource/inter/100';
@import '@fontsource/inter/200';
@import '@fontsource/inter/300';
@import '@fontsource/inter/400';
@import '@fontsource/inter/500';
@import '@fontsource/inter/600';
@import '@fontsource/inter/700';
@import '@fontsource/inter/800';
@import '@fontsource/inter/900';
@import 'tailwindcss' source('../');

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-boldonse: 'Boldonse', sans-serif;
}
